.label-grande {
  font-size: 1.2rem;
}

.resultado {
  font-size: 1.5rem;
  color: var(--ion-color-primary);
  text-align: center;
}

ion-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
