<ion-header>
  <ion-toolbar>
    <ion-title>Histórico de Conversões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="warning" (click)="voltarParaConversao()">Voltar para Conversão</ion-button>
  <ion-button expand="full" color="danger" (click)="excluirHistorico()">Limpar Histórico</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of historico; let i = index">
      <ion-label>
        <h2>{{ item.valorOriginal }} {{ item.moedaOrigem }} → {{ item.resultado }} {{ item.moedaDestino }}</h2>
        <p>{{ item.data | date:'short' }}</p>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="excluirRegistro(i)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
