.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.custom-button {
  --background: #fdcf21; /* Cor de fundo */
  --color: black; /* Cor do texto */
  width: 80%;
  margin-top: 20px;
}
