<ion-header>
  <ion-toolbar>
    <ion-title>Bem-vindo ao Coinnect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <img src="assets/icon/coinnect_app(logo).jpg" alt="Logo do Coinnect" class="logo">
    <h2>Escolha uma opção</h2>
    <ion-button expand="full" color="warning" (click)="navegarParaConversao()">Ir para Conversão</ion-button>
    <ion-button expand="full" color="warning" (click)="navegarParaHistorico()">Ver Histórico</ion-button>
  </div>
</ion-content>
